.container-geral {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header header header"
    "main-content main-content main-content"
    "portfolio portfolio portfolio"
    "footer footer footer";
    gap: 30px;
    position: relative;

}

@media screen and (max-width: 767px) {
    .container-geral {
        grid-template-columns: 100%;
    }
    .container-geral {
        grid-template-areas: 
        "header"
        "main-content"
        "portfolio"
        "footer";
    }
}