@import 'mixin-variaveis';
@import 'container-geral';

/*  ========= main-content ========= */
.main-content {
    grid-area: main-content;

    /* apresentation */
    .apresentation {
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translate(-50%, -50%);
        @include p-absolut-center(-50%, -50%);
        width: 100%;
     
        .full-name {
            color: $light;
            text-align: center;
            font-size: 2rem;
            letter-spacing: 15px;
        }

        .skills-basic {
            text-align: center;
            color: $light;
            margin-top: 10px;
            font-family: Arial, Helvetica, sans-serif;
            p {
                span {
                    color: $warning;
                }
            }
        }
    }
    @media screen and (max-width: 760px) {
        .apresentation {

            top: 250px;

            .full-name {
                width: 100%;
                font-size: 1.4em;
                letter-spacing: 10px;
            }
            .skills-basic {
                margin: 20px auto;
                width: 85%;
            }
        }
    }
    @media screen and (min-width: 761px) and (max-width: 992px) {
        .apresentation {
            top: 220px;
        }
    }

    /* about */
    .about {

        width: 100%;
        background-color: rgba(0,0,0,0.8);
        margin-top: 400px;

        .about-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 30px;
            max-width: 1200px;
            margin: 0 auto;
            .about-text {
                width: 100%;
                padding-right: 30px;
                text-align: center;
                margin: 0 auto;
               
                h1 {
                    color: $yellow;
                    font-size: 1.3em;
                }
    
                p {
                    color: $light;
                    margin-top: 20px;
                    font-size: 15px;
                    text-align: justify;
                    text-indent: 30px;
                    span {
                        color: $yellow;
                    }
                }
            }
    
            .img-artur-rezende {
                padding-top: 20px;
                margin: 0 auto;
                width: 100%;

                img {
                    width: 100%;
                    display: block;
                    @include borderRadiusGlobal(20px);
                    box-shadow: 0 0 10px 2px $light;
                }
            }

        }
        
    }

    @media screen and (max-width: 900px){

        .about {
            
            .about-container {
                width: 100%;
                flex-direction: column;
              
                .about-text {
                    margin-left: 20px;
                    order: 2;
                }

                .img-artur-rezende {
                    order: 1;
                    padding-bottom: 20px;
                    max-width: 320px;
                    
                    img {
                        margin: 0 auto;

                    }
                }
            }
            
        }

    }

    /* skills front end */
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 15px;
        padding: 15px;
        margin: 4% auto 0 auto;
        width: 1200px;
        position: relative;

        .title-skills {
            grid-column: 1/-1;
            text-align: center;
            justify-content: space-between;
            color: $light;
            padding-bottom: 2%;
            font-size: 1.5em;
        }

        .skills-card {
            box-shadow: 0px 4px 4px 0 rgba(255, 255, 255, 0.2);
            transition: 0.3s;
            padding: 20px;
            width: 90%;
            @include borderRadiusGlobal(20px);
            border: 2px solid rgba(255, 255, 255, 0.2);
            background-color: rgba(0,0,0,0.4);
            position: relative;

            &:hover {
                box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0.2);
            }

            img {
                width: 70%;
                margin: 0 auto;
            }

            .content-skill {
                
                h1, p {
                    color: $light;
                    text-align: center;
                    margin-top: 20px;
                }

                button {
                    color: $light;
                    border: 1px solid $light;
                    padding: 10px;
                    @include borderRadiusGlobal(20px);
                    transition: 1s ease;
                    display: block;
                    width: 90%;
                    margin: 20px auto 0 auto;

                    &:hover {
                        color: $yellow;
                        border: 1px solid $yellow;
                    }
                }

                ul {
                    margin-top: 6%;
                    padding-left: 15px;
                    li {
                        color: $light;
                        list-style-type: disc;
                        padding-bottom: 12px;
        
                        span {
                            color: $warning;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }

                    }
                }

            }
        }

        .java-menssage {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #fff;
            padding: 20px;
            @include borderRadiusGlobal(20px);
            width: 80%;
            display: none;

             p {
                 text-indent: 30px;
                 color: $dark;
                 font-weight: 700;
                 text-align: justify;
             }

             button {
                 position: absolute;
                 top: 0;
                 left: -20px;
             }
        }
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
        .skills {
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            width: 100%;

            .title-skills {
                font-size: 1.3em;
            }

            .skills-card {
                width: 100%;

                img {
                    width: 60%;
                }
            }
        }
    }

    @media screen and (min-width: 651px) and (max-width: 900px) {
        
        .skills {
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            width: 100%;

            .title-skills {
                font-size: 1.1em;
            }

            .skills-card {
                width: 80%;
                margin: 0 auto;
                img {
                    width: 60%;
                }
            }

            .java-menssage {
                width: 80%;
            }
        }
    }

    @media screen and (max-width: 650px) {

        .skills {
            grid-template-columns: 1fr;
            justify-content: center;
            width: 100%;    
            gap: 25px;

            .title-skills {
                font-size: 1rem;
            }

            .skills-card {
                width: 80%;
                margin: 0 auto;
                img {
                    width: 70%;
                }
            }
            
            .content-skill {
                button {
                    font-size: 14px;
                }
            }

            .java-menssage {
                bottom: -14%;
                width: 85%;
                z-index: 999;
            }
        }

    }
}
