@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@515&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
    outline: none;
    font-size: 100%;
}

::selection {
    background-color: rgba(17, 196, 196, 0.4);
}

body {
    background: url('../assets/bg-site.png') no-repeat 100% 100%;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
	display: block;
	width: 100%;
}
